@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hola Componente</h1>

<img style="color:red; font-size:12px; width:50px; height 20px;" :src="mainLogo[datos.site].image" title="Impact Hub">
<br>
<br>

En esa línea?