<div class="container">

    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../Claims/index">@webLoyal.Resources.language.Resources.Claims</a></li>
                <li class="breadcrumb-item active" aria-current="page">Generate Denial Letter</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>
        <div class="d-flex gap-2 mt-3 mt-md-0">
 
        </div>
    </div>
    <head>
        <style>
            .img img{
                width: 100%;
            } 
            h1 {
            text-align: center;
            font-size: 20px
            }
            h2 {
            text-align: right;
            font-size: 16px; 
            left: 2; 
            }
            .box {
            width: 50%;
            }

        </style>
    </head>
    <header>
        <div class="card"> 
            <div class="title"><img src="../assets/img/LoyalHeader.png" alt="sample"></div>
                <div class="body">
                    <div id="current_date"> 
                        <div class="float-left">
                            <script>
                                document.getElementById("current_date").innerHTML = Date();
                            </script>
                        </div>
                    </div>
                </div> 
                <h1 class="primary-fs-2">CARTA DE NEGACIÓN</strong></h1>
                <div>
                     <div class="float-right">
                        <ul>
                            <p class="fs-5">Nombre del Asegurado: Carmen Aurora Roa De Caputo</p>
                            <p class="fs-5">Nombre del Beneficiario: Carmen Aurora Roa De Caputo</p>
                            <p class="fs-5">Número de Póliza: 000-00-0584</p>
                            <p class="fs-5">Plan: Legacy</p>
                        </ul>
                     </div>  
                </div>
                <div>
                     <div class="float-right">
                        <ul>
                            <p class="fs-5">Hospital o Proveedor: Policlinica Metropolitana C.A</p>
                            <p class="fs-5">Fecha de Ingreso: 07/29/2023</p>
                            <p class="fs-5">Fecha de Egreso: 07/31/2023</p>
                        </ul>
                     </div>  
                </div>
                <div>
                     <div class="primary-sloat-right">
                        <ul>
                            <p class="fs-5">Fecha del reclamo: 07/25/2023</strong></p>
                            <p class="fs-5">Proveedor: Clinica Sanatrix C.A</strong></p>
                            <p class="fs-5">Diagnóstico: Carcinoma ductal de grado intermedio en mamas</strong></p>
                            <p class="fs-5">Tratamiento: mastectomía parcial bilateral</strong></p>
                            <p class="fs-5">Causa de negación: enfermedad preexistente no declarada</strong></p>
                        </ul>
                     </div>  
                </div>
                
                <div>
                    <div class="float-right">
                        <ul>
                            <p class="lh-1 fs-5">La asegurada Carmen Aurora Roa De Caputo es evaluada por la Dra. Priscila Palacios, quien describe en el informe médico que la paciente presenta nódulo con esclerosis mama izquierda + microcalcificaciones en mama derecha. Y propone cirugía de mastectomía parcial bilateral</strong></p>
                        </ul>
                    </div>  
                </div>  
                <div>
                <div class="float-right">
                    <ul>
                        <p class="lh-1 fs-5">Se concluye con la información descrita, el informe médico y los estudios recibidos, que no podemos dar cobertura, basados en nuestro condicionado, página 18 y 19 exclusiones, numeral 8 concatenado con la página 32 condiciones preexistentes.</strong></p>
                    </ul>
                </div>
                <div class="float-right">
                    <ul>
                        <p class="lh-1 fs-5">La enfermedad data desde el año 2020, que inicia con la patología benigna mamaria según estudio realizado y no declarada al momento de adquirir la póliza por lo tanto la evaluación de riego se vio limitada al no declarar dicha enfermedad.</strong></p>
                    </ul>
                </div> 
                <div class="float-right">
                    <ul>
                        <p class="lh-1 fs-5">Lamentamos los inconvenientes que esto pueda causar, si tiene alguna pregunta, por favor no dude en contactarnos.</strong></p>
                    </ul>
                </div>
                <div class="float-right">
                    <ul>
                        <p class="fw-bolder"></p>Atentamente,</p>
                        <p class="fw-bolder">Departamento de Reclamos</p>
                        <p class="fw-bolder">LOYAL MAJOR MEDICAL</p>
                    </ul>
                </div>
                <div class="float-right">
                    <ul>
                        <p class="font-monospace">Este documento contiene INFORMACIÓN CONFIDENCIAL Y PRIVILEGIADA dirigida solo para el uso del o los destinatarios(s) nombrado(s) arriba. Si usted no es un destinatario de este documento, o un empleado o agente responsable para entregarlo al destinatario, usted queda notificado que está prohibida cualquier divulgación o copia de la información contenida en este documento. Si usted ha recibido este documento por error, por favor avisar al remitente inmediatamente.</p>
                    </ul>
                </div> 
            </div>      
   
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 w-15">
                    <img src="../assets/img/LoyalHeader.png" class="img-fluid" alt="">
                </div>
                <div class="flex-grow-1 ms-3">
                    <div class="d-flex align-content-center flex-wrap border ht-150 mb-2">
                        <div class="d-flex">
                            <div class="p-2 bg-gray-300"><img src="../assets/svg/icons8-whatsapp.svg" class="img-fluid"><"Tel: +1 786 477 3688"></div>
                            <div class="p-2 bg-gray-300 ms-auto"><img src="../assets/svg/icons8-whatsapp.svg" class="img-fluid"><"Tel: +58 414 234 8339"></div>
                            <div class="p-2 bg-gray-300">Flex item</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
           
        </div>
    </div>