<div class="container">
    
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../dash/BoardAgents">Historial de Agentes</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.Agent</li>
            </ol>

        </div>
    </div>
    <td>
        <div class="img rounded-circle">
                <img src="https://lh5.googleusercontent.com/-t-BC2jMToqhirTi_j2PPMj59Prpp5oirXFr6_mE-pQwgG8geU4MLQa09HQ0K00ElDQcsQMg228gGqVCnYSb1594fe8-jK8jaw9h51xvlUiY58GVq_nnqd4HLdElt-UV3tqqhK6n" width="150" height="150" alt="">
                
                <div>
                <h6 class="mb-0">Agente 35</h6>
                                                        
            </div>
        </div>
    </td>