<div class="container">
    
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../dash/BoardAgents">Historial de Agentes</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.Agent</li>
            </ol>

        </div>
    </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media-profile">
                            <div class="media-img">
                                <img src="https://lh5.googleusercontent.com/-t-BC2jMToqhirTi_j2PPMj59Prpp5oirXFr6_mE-pQwgG8geU4MLQa09HQ0K00ElDQcsQMg228gGqVCnYSb1594fe8-jK8jaw9h51xvlUiY58GVq_nnqd4HLdElt-UV3tqqhK6n" class="img-fluid" alt="...">

                            </div>
                            <div class="media-body">
                                <h5 class="media-name">Shaira Diaz</h5>
                                <p class="d-flex gap-2 mb-4"><i class="ri-map-pin-line"></i> San Francisco, California</p>
                                <p class="mb-0">Redhead, Innovator, Saviour of Mankind, Hopeless Romantic, Attractive 20-something Yogurt Enthusiast. You can replace this with any content and adjust it as needed... <a href="">Read more</a></p>
                            </div><!-- media-body -->
                        </div>
                    </div>
                </div>
            </div>
</div>
