
<div class="container">

        <div class="d-md-flex align-items-center justify-content-between mb-4">
            <div>
                <ol class="breadcrumb fs-sm mb-1">
                    <li class="breadcrumb-item"><a herf="../Menu/index">Menu</a></li>
                    <li class="breadcrumb-item"><a herf="../Provider/index">Proveedores</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Crear Proveedor</li>
                </ol>
                <h4 class="main-title mb-0"></h4>
            </div>
            <div class="d-flex gap-2 mt-3 mt-md-0">
            </div>
        </div>

        <form id="CreateProvider" class="row g-3 col-12" asp-action="nameof(ProviderController.Create)" data-parsley-validate asp-controller="Provider" method="post">
            <div class="col-6">
                <div class="card card-one">
                    <div class="card-body row">

                        <div class="col-12">
                            <label for="inputaddress" class="form-label">Código de Proveedor</label>
                            <input id="select2D" class="form-control">

                        </div>
                        <div class="col-12">
                            <label for="inputaddress" class="form-label">Razón Social</label>
                            <input id="select2D" class="form-control">

                        </div>
                        <div class="col-12">
                            <label for="inputaddress" class="form-label">Descripción de Estado</label>
                            <select id="inputState" class="form-select">
                                    <option selected>Seleccionar...</option>
                                    <option>Activo</option>
                                    <option>Inactivo</option>
                                    <option>En Proceso de Actualización</option>
                            </select>

                        </div>


                        <div class="col-6">
                            <label class="form-label">Descripción País</label>
                            <input value="text" class="form-control">
                        </div>
                            
                        <div class="col-6">
                            <label for="inputState" class="form-label">estado</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Seleccionar...</option>
                                    <option>Amazonas</option>
                                    <option>Anzoátegui</option>
                                    <option>Apure</option>
                                    <option>Aragua</option>
                                    <option>Barinas</option>
                                    <option>Bolívar</option>
                                    <option>Carabobo</option>                                                        
                                    <option>Cojedes</option>
                                    <option>Delta Amacuro</option>
                                    <option>Dependencias Federales</option>
                                    <option>Distrito Capital</option>
                                    <option>Falcón</option>
                                    <option>Guárico</option>
                                    <option>La Guaira</option>
                                    <option>Lara</option>
                                    <option>Mérida</option>
                                    <option>Miranda</option>
                                    <option>Monagas</option>
                                    <option>Nueva Esparta</option>
                                    <option>Portuguesa</option>
                                    <option>Sucre</option>
                                    <option>Táchira</option>
                                    <option>Trujillo</option>
                                    <option>Yaracuy</option>
                                    <option>Zulia</option>
                                </select>  
                        </div>
                        
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label">Ciudad</label>
                                <input value="text" class="form-control" id="inputAddress" placeholder="select">
                            </div> 
                            
                            <div class="col-6">
                                <label class="form-label">Telefono</label>
                                <input value="text" class="form-control" id="inputAddress" placeholder="+00-0000-000-00-00">
                            </div> 
                        </div>
                                                        
                        <div class="col-12">
                            <label for="inputaddress" class="from-label">Dirección</label>
                            <textarea id="select2D" class="form-select" multiple disable>
                                
                            </textarea>
                        </div>

                    
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>                    
                    </div>
                </div>
            </div>
        </form>    
               
    
</div>