 <div class="container">
    
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                <li class="breadcrumb-item"><a href="../Claims/index">draft</a></li>
                <li class="breadcrumb-item active" aria-current="page">@webLoyal.Resources.language.Resources.Create</li>
            </ol>
          
        </div>
    </div>
  
    <form class="row g-3 col-12">

    <div class="form-check form-switch">
     <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
     <label class="form-check-label" for="flexSwitchCheckDefault">Si desea asociar un agente seleccione</label>
    </div>

    <select id="listaNombres" disabled>
    <option value="nombre1">Agente 1</option>
    <option value="nombre2">Agente 2</option>
    <option value="nombre3">Agente 3</option>
    </select>

    <script>
    const checkbox = document.getElementById('flexSwitchCheckDefault');
    const listaNombres = document.getElementById('listaNombres');

    checkbox.addEventListener('change', function() {
    listaNombres.disabled = !this.checked;
     });
    </script>
    <style>
        input[type="date"], select {
        display: inline-block;
        }
        input[type="date"] {
        float: left;
         }
        </style>
    <div>
       <label>Inicio de Validez</label>
    </div>
    <input type="date" name="fecha">
    <select class="form-select" aria-label="Default select example">
    <option selected>Selecciona el Pais</option>
    <option value="1">Alemania</option>
    <option value="2">Colombia</option>
    <option value="3">Venezuela</option>
    </select>

                    <div class="col-12">
                        <button id="submitButton2" type="submit" class="btn btn-primary">@webLoyal.Resources.language.Resources.Accept</button>
                    </div>

    </form>
 </div>

 