@model List<core.Service.CifraCertificadoProductoModel>;


<div class="row">
    @foreach (var item in Model.OrderBy(x=>x.CodigoProducto))
    {
        <div class="col-6 col-xl-3">
            <div class="music-player mt-4 mt-xxl-5" style="@item.Color">
                <div class="media-music">
                    <a href="" class="media-img"><img src="@item.Img" alt=""></a>

                </div>
                <div class="media-body">
                    <h5><a href="" class="text-white">@item.DescripcionProducto</a></h5>
                    <h3 class="card-value text-white"># @item.CantidadRegistros</h3>
                </div>
            </div>
        </div>
    }
</div>