<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - webLoyal</title>
    <link rel="icon" href="https://www.loyalig.com/wp-content/uploads/2021/03/cropped-favicon-1-32x32.png" sizes="32x32">
    <link href="~/assets/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/css/style.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/remixicon/fonts/remixicon.css" rel="stylesheet" asp-append-version="true">
    <link href="~/assets/img/favicon.png" rel="stylesheet" type="image/x-icon" asp-append-version="true">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

</head>
<body class="page-sign d-block py-0">
    <div class="row g-0">
        <div role="main" class="col-md-7 col-lg-5 col-xl-4 col-wrapper">
            <div class="card card-sign">
                @RenderBody()
            </div>
        </div>
        <div class="col d-none d-lg-block"><img class="auth-img" src="~/assets/img/img.png" /></div>
    </div>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10" ></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
