<div class="card card-one">
    <div class="card-header">
        <h6 class="card-title">Tareas </h6>
        
    </div><!-- card-header -->
    <div class="card-body p-3">
        <ul class="events-list">
            <li>
                <div class="event-date badge bg-secondary">
                    <h5 class="spinner-border spinner-border-sm" role="status"></h5>
                </div><!-- event-date -->
                <div class="events-body">
                    <div class="ev-item">
                        <small>Pendiente 2023-12-31 08:00am</small>
                        <h6>Evaluar Planilla - Ivonne Pazaran </h6>
                        <p>Jorge Gerardo Salas MonsalveNro. Planilla 1502 Poliza Nro. 000-00-1501  1 LEGACY Opcion I  (US$ 500 - US$ 1,000)</p>
                    </div><!-- event-item -->
                </div><!-- events-body -->
            </li>
            <li>
                <div class="event-date badge bg-success">
                    <h5 class="ri-checkbox-circle-line" ></h5>
                </div><!-- event-date -->
                <div class="events-body">
                    <div class="ev-item">
                        <small>Finalizado 08:00am - 11:30am</small>
                        <h6>5th Religious Conference</h6>
                        <p>Excep teur sint occae cat cupi datat non proident sunt in culpa qui.</p>
                    </div><!-- event-item -->
                    <div class="ev-item">
                        <small>1:30pm - 5:30pm</small>
                        <h6>Church Workshop Events</h6>
                        <p>Datat non proident sunt in culpa qui.</p>
                    </div><!-- event-item -->
                </div><!-- events-body -->
            </li>
            <li>
                <div class="event-date badge bg-success">
                    <h5 class="ri-checkbox-circle-line"></h5>
                </div><!-- event-date -->
                <div class="events-body">
                    <div class="ev-item">
                        <small>Finalizado 2023-12-31 08:00am</small>
                        <h6>Evaluar Planilla - Carlos Enrique Rodrigez Gonzalez</h6>
                        <p>Jorge Gerardo Salas Monsalve  Nro. Planilla 1502 Poliza Nro. 000-00-1501  1 LEGACY Opcion I  (US$ 500 - US$ 1,000)</p>
                    </div><!-- event-item -->
                </div><!-- events-body -->
            </li>
            <li>
                <div class="event-date badge bg-success">
                    <h5 class="ri-checkbox-circle-line"></h5>
                </div><!-- event-date -->
                <div class="events-body">
                    <div class="ev-item">
                        <small>Finalizado 2023-12-31 08:00am</small>
                        <h6>Evaluar Planilla - Carlos Enrique Rodrigez Gonzalez</h6>
                        <p>Jorge Gerardo Salas Monsalve  Nro. Planilla 1502 Poliza Nro. 000-00-1501  1 LEGACY Opcion I  (US$ 500 - US$ 1,000)</p>
                    </div><!-- event-item -->
                </div><!-- events-body -->
            </li>
        </ul>
    </div>
</div><!-- card-header -->