<div class="container">

    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/Policies">Policies</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>

    </div>
    <head>
        <style>
            #container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }
            #principal {
            width: 50%;
            }
            #sidebar {
            width: 50%;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="principal">
                <div id="column1">
                    <ul>
                        <li>Aca va el contenido de la columna 1. Aca va el contenido de la columna 1. Aca va el contenido de la columna 1</li>
                        <li>Aca va el contenido de la columna 1.</li>
                        <li>Aca va el contenido de la columna 1.</li>
                        <li>Aca va el contenido de la columna 1.</li>
                    </ul>
                </div>
            </div>
            <div id="sidebar">
                <div id="columna2">
                    <ul>
                        <li>Aca va el contenido de la columna 2. Aca va el contenido de la columna. 2Aca va el contenido de la columna 2</li>
                        <li>Aca va el contenido de la columna 2.</li>
                        <li>Aca va el contenido de la columna 2.</li>
                        <li>Aca va el contenido de la columna 2.</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>