<div class="container">

    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a href="../menu/Policies">Policies</a></li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>

    </div>
    <head>
        <style>
            #container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }
            #principal {
            width: 50%;
            }
            #sidebar {
            width: 50%;
            }
        </style>
    </head>
    <body>
        <header>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item"><a class="nav-link active" href="#sectionOne" onclick="showSection('sectionOne', this)">Titular de la Poliza : Nelson Gonzalez</a></li>
            </ul>
        </header>
        <div id="container">
            <div id="principal">
                <div class="card-header">
                    <div id="column1">
                        <div class="card-group">
                            <div class="row g-2 justify-content-center">
                                <div class="col-3 col-xl-3">
                                    <div class="card card-one">
                                        <div class="card-body">
                                            <label class="card-title fs-sm fw-medium mb-1">
                                                <li>Efectividad</li>
                                                <li>Pendiente</li> 
                                                <li>Venezuela</li>
                                                <li>Transplante de Oganos</li> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-xl-3">
                                    <div class="card card-one">
                                        <div class="card-body">
                                            <label class="card-title fs-sm fw-medium mb-1">
                                                <li>Opcion 2 </li>
                                                <li>US$ 3.500 - prima anualizada</li> 
                                                <li>Forma de pago trimestral</li> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3">
                                    <div class="card card-one">
                                        <div class="card-body">
                                            <label class="card-title fs-sm fw-medium mb-1">
                                                <li>0793 Diego Alcalá - 0 Cambios de Periodos</li>
                                                <li>+58 414 0279079</li> 
                                                <li>*58 212 6933860</li>
                                                <li>diegoalcala@gmail.com</li> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item"><a class="nav-link active" href="#sectionOne" onclick="showSection('sectionOne', this)">datos del titular</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="sidebar">
                <div id="columna2">
                    <div class="card card-one">
                <div class="card-header">
                    <h6 class="card-title">
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item"><a class="nav-link active" href="#sectionOne" onclick="showSection('sectionOne', this)">Policies Time Line</a></li>
                        </ul>
                    </h6>
                    <nav class="nav nav-icon nav-icon-sm ms-auto">
                        <a href="" class="nav-link"><i class="ri-refresh-line"></i></a>
                        <a href="" class="nav-link"><i class="ri-more-2-fill"></i></a>
                    </nav>
                </div><!-- card-header -->
                <div class="card-body">
                    <ul class="list-group list-group-one">
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-orange text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxx
                                </h6>
                                <small>xxxxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxxx</h6>
                                <small class="text-success">xxxxxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-twitter text-white"><i class="cf cf-eth"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxxx
                                </h6>
                                <small>xxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxx</h6>
                                <small class="text-success">xxxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-litecoin text-white"><i class="cf cf-ltc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxxx
                                </h6>
                                <small>xxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxxx</h6>
                                <small class="text-success">xxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-success text-white"><i class="cf cf-btc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxxxx
                                </h6>
                                <small>xxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxxx</h6>
                                <small class="text-danger">-xxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-primary text-white"><i class="cf cf-dash"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxx
                                </h6>
                                <small>xxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxxx</h6>
                                <small class="text-danger">xxxxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-ui-02 text-white"><i class="cf cf-bsd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxx 
                                </h6>
                                <small>xxxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxxx</h6>
                                <small class="text-success">xxxxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-pink text-white"><i class="cf cf-bcn"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxx 
                                </h6>
                                <small>xxxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxxx</h6>
                                <small class="text-danger">xxxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-info text-white"><i class="cf cf-dmd"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxxxx 
                                </h6>
                                <small>xxxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxxxx</h6>
                                <small class="text-success">xxxxx</small>
                            </div>
                        </li>
                        <li class="list-group-item px-0 d-flex align-items-center gap-2">
                            <div class="avatar bg-danger text-white"><i class="cf cf-emc"></i></div>
                            <div>
                                <h6 class="mb-0">
                                    xxxxxxx 
                                </h6>
                                <small>xxx</small>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="ff-numerals mb-0">xxx</h6>
                                <small class="text-success">xxx</small>
                            </div>
                        </li>
                    </ul>
                </div><!-- card-body -->
            </div><!-- card -->
                </div>
            </div>
        </div>
    </body>