@model List<core.Service.PoliciesDetailModel>
<div class="">


    <div class="container">

        <div class="">
            <div class="d-md-flex align-items-center justify-content-between mb-4">
                <div>
                    <ol class="breadcrumb fs-sm mb-1">
                        <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                        <li class="breadcrumb-item active"><a href="../requestmonitor/index">requestmonitor/index</a></li>

                    </ol>

                </div>
                <nav class="nav nav-icon nav-icon-lg">

                    <a href="javascript:void(0);" class="nav-link" title="Refrescar" onclick="showSweetAlert()"><i class="ri-refresh-line"></i></a>

                </nav>

            </div>
            <div class="row g-3">

                <div class="col-xl-8">
                    @await Component.InvokeAsync("PoliciesStatus")
                    <br />
                    @await Component.InvokeAsync("PoliciesList")

                </div><!-- col -->
                <div class="col-xl-4">
                    @await Component.InvokeAsync("PoliciesProduct")
                </div><!-- col -->
            </div><!-- row -->

        </div>

    </div>

</div>


@section Scripts{
    <script>
        $("table").DataTable({
            searchBuilder: true,
            sort: true,
            resizable: true,
            responsive: true,
            scrollY: 200,
            class: 'stripe',
            fixedColumns: true,
            order: [[0, "desc"]],
            dom: 'Bfrt<"col-md-6 inline"i> <"col-md-6 inline"p>',
            buttons: [
                {
                    extend: 'excelHtml5',
                    autoFilter: true,
                    className: 'btn btn-outline-primary',
                    filename: '@nameof(core.Service.PoliciesDetailModel)Excel',
                },
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-outline-primary',
                    filename: '@nameof(core.Service.PoliciesDetailModel)Pdf',
                }
            ]
        });



    </script>
}
