<div class="btn-group">

	<button type="button" class="btn btn-default">Carta Aval</button> <button type="button" class="btn btn-default">Reportes</button> <button type="button" class="btn btn-default">Estatus Financieros</button>
<style>
.btn {
	border-radius: 8px;
	Background-color: gray;
	padding:14px 28px;
	cursor: pointer;
	display: inline-block;
}

.btn:hover {background: #eee;}
	
</div>