  <div class="dropdown"> 
    <div class="btn-toolbar">
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Carta Aval
        </button>
          <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">

          <li><a class="dropdown.item" herf="#">Aprobada</a></li>
          <li><a class="dropdown-item" href="#">Denegada</a></li>
      </ul>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Soportes
        </button>
          <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown.item" herf="#">Pre Certificación</a></li>
          <li><a class="dropdown-item" href="#">Segunda Cotización</a></li>
          <li><a class="dropdown-item" href="#">Cotejar</a></li>
        </ul>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Estatus Financieros
        </button>
          <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown.item" herf="#">Historial</a></li>
          <li><a class="dropdown.item" herf="#">Cuentas Por Pagar</a></li>
          <li><a class="dropdown-item" href="#">Pago</a></li>
        </ul> 
  </div>