<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Carta Aval
  </button>
  <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton1">
	<li><a class="dropdown.item" herf="#">Aprobada</a></li>
	<li><a class="dropdown-item" href="#">Denegada</a></li>
  </ul>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Soportes
  </button>
  <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton2">
	<li><a class="dropdown.item" herf="#">Carta Aval Precertificación</a></li>
	<li><a class="dropdown-item" href="#">Segunda Cotización</a></li>
  <li><a class="dropdown-item" href="#">Cotejar</a></li>
  </ul>
 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
    Estatus Financieros
  </button>
  <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton3">
	<li><a class="dropdown.item" herf="#">Cuentas Por Pagar</a></li>
	<li><a class="dropdown-item" href="#">Pago EOB</a></li>
  </ul> 
</div>