<div class="container">
    <div class="row gx-5">
        <div class="col-lg-5 d-flex flex-column align-items-center">
            <h1 class="error-number">0</h1>
            <h2 class="error-title">En construccion</h2>
            <p class="error-text"> Please try again later.</p>
            <a href="../" class="btn btn-primary btn-error">Back to Dashboard</a>
        </div><!-- col -->
        <div class="col-8 col-lg-6 mb-5 mb-lg-0">
            <object type="image/svg+xml" data="../assets/svg/pair_programming.svg" class="w-100"></object>
        </div><!-- col -->
    </div><!-- row -->
</div>