@model List<core.Service.CifraCertificadoEstadoModel>;

<div class="row g-3">
    @foreach( var item in Model)
    {
        <div class="col-6 col-xl-3">
            <div class="card card-one">
                <div class="card-body">
                    <label class="card-title fs-sm fw-medium mb-1">@item.DescripcionEstadoCertificado</label>
                    <h3 class="card-value mb-1"><i class="@item.Icon"></i> @item.CantidadRegistros</h3>

                </div><!-- card-body -->
            </div><!-- card-one -->
        </div>
    }
   @* <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">Generada</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>
    <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">En Proceso Registro</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>
    <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">Pendiente UW</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>
    <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">Aprobada</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>
    <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">Denegada</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>
    <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">Anulada</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>
    <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">Evaluación Pospuesta</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>
    <div class="col-6 col-xl-3">
        <div class="card card-one">
            <div class="card-body">
                <label class="card-title fs-sm fw-medium mb-1">Total Procesado</label>
                <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8327</h3>

            </div><!-- card-body -->
        </div><!-- card-one -->
    </div>*@
</div>
