<div class="container">

    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a herf="../menu/Home"></a>Menu</li>
                <li class="breadcrumb-item"><a herf="../Home/Forbidden">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forbidden</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>
        <div class="d-flex gap-2 mt-3 mt-md-0">
            
        </div>
    </div>
    
    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>
            <ol class="breadcrumb fs-sm mb-1">
                <li class="breadcrumb-item"><a herf="../Home/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forbidden</li>
            </ol>
            <h4 class="main-title mb-0"></h4>
        </div>
        <div class="d-flex gap-2 mt-3 mt-md-0">
            
        </div>
    </div>
    

        <div class=“header”>
            <div class=“container”>
                <a href=“../” class=“sidebar-logo”>LoyalWeb</a>
                <nav class=“nav nav-icon”>
                <a href=“” class=“nav-link”><i class=“ri-twitter-fill”></i></a>
                <a href=“” class=“nav-link”><i class=“ri-instagram-fill”></i></a>
                <a href=“” class=“nav-link”><i class=“ri-facebook-line”></i></a>
                </nav>
            </div>
        </div>
        <div class=“content”>
            <div class=“container”>
                <div class=“row gx-5”>
                    <div class=“col-lg-5 d-flex flex-column align-items-center”>
                        <h1 class=“error-number”>505</h1>
                        <h2 class=“error-title”>Forbidden</h2>
                        <p class=“error-text”>Oopps. Something is broken. We’ve been automatically alerted of the issue and will work to fix it asap.</p>
                        <a href=“../” class=“btn btn-primary btn-error”>Back Home</a>
                    </div>
                    <div class=“col-8 col-lg-6 mb-5 mb-lg-0">
                        <object type=“image/svg+xml” data=“../assets/svg/security.svg” class=“w-100”></object>
                    </div>
                </div>
            </div>
        </div>
    
</div>