<div class="">

 
    <div class="container">

        <div class="">
            <div class="d-md-flex align-items-center justify-content-between mb-4">
                <div>
                    <ol class="breadcrumb fs-sm mb-1">
                        <li class="breadcrumb-item"><a href="../menu/index">@webLoyal.Resources.language.Resources.Menu</a></li>
                        <li class="breadcrumb-item active"><a href="../requestmonitor/index">requestmonitor/index</a></li>

                    </ol>

                </div>
            </div>
            <div class="row g-3">
               
                <div class="col-xl-8">
                    @await Component.InvokeAsync("Requests")
                    <br />
                    @await Component.InvokeAsync("RequestMonitorList")

                </div><!-- col -->
                <div class="col-xl-4">
                    @await Component.InvokeAsync("Product")
                </div><!-- col -->
            </div><!-- row -->

        </div>

    </div>

</div>
@section Scripts{
    <script>
        $("table").DataTable({
            searchBuilder: true,
            class: 'table table-borderless mb-0 dataTable-loading searchable dataTable-wrapper no-footer sortable fixed-columns',
            fixedColumns: true,
            order: [[0, "desc"]],
            dom: 'Bfrt<"col-md-6 inline"i> <"col-md-6 inline"p>',
            buttons: [
                {
                    extend: 'excelHtml5',
                    autoFilter: true,
                    className: 'btn btn-outline-primary',
                    filename: '@nameof(core.Service.PoliciesDetailModel)Excel',
                },
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-outline-primary',
                    filename: '@nameof(core.Service.PoliciesDetailModel)Pdf',
                }
            ]
        });



    </script>
    }
