<div class="card">
    <img src="../assets/img/img2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-dark">Card title</h5>
        <p class="card-text">Some quick example...</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>