@*@model List<core.Service.MenuModel>;*@

<div class="nav-group">
    <a href="#" class="nav-label">Monitor</a>
    <ul class="nav nav-sidebar">
        <li class="nav-item">
            <a href="~/RequestMonitor/index" class="nav-link active"><i class="ri-pie-chart-2-fill"></i> <span>Monitor de Solicitudes</span></a>
        </li>
    </ul>
</div>
@*<div class="nav-group">
    <a href="#" class="nav-label">Dashboard</a>
    <ul class="nav nav-sidebar">
        <li class="nav-item">
            <a href="~/dash/index" class="nav-link active"><i class="ri-pie-chart-2-fill"></i> <span>Board de Reclamos</span></a>
        </li>
        <li class="nav-item">
            <a href="~/dash/BoardAgents" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>Board de Agentes</span></a>
        </li>


    </ul>
</div>*@
<div class="nav-group">


    <a href="#" class="nav-label">Funciones</a>
    <ul class="nav nav-sidebar">


        <li class="nav-item">
            <a href="~/Policies/index" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Polizas</span></a>
        </li>       
        <li class="nav-item">
            <a href="~/Provider/index" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>@webLoyal.Resources.language.Resources.Provider</span></a>
        </li>
        <li class="nav-item">
            <a href="~/claims/index" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>@webLoyal.Resources.language.Resources.Claims</span></a>
        </li>
       @* <li class="nav-item">
            <a href="~/Provider/index" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Proveedores</span></a>
        </li>
        <li class="nav-item">
            <a href="~/Certificates/index" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Certificados</span></a>
        </li>
        <li class="nav-item">
            <a href="~/Reports/index" class="nav-link"><i class="ri-file-text-line fs-48 lh-1"></i> <span>Reportes de Reclamos</span></a>
        </li>
        <li class="nav-item">
            <a href="~/Stages/index" class="nav-link"><i class="ri-file-text-line fs-48 lh-1"></i> <span>Stages</span></a>
        </li>*@

    </ul>
</div>