@model core.Service.ChangePasswordModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form asp-action="@nameof(AuthController.ChangePassword)" asp-controller="Auth" method="post" class="card card-sign">
    <div class="card-header">
        <a href="../" class="header-logo mb-5"><img src="~/assets/img/Logo-sf.png" /></></a>
        <h3 class="card-title">Recover</h3>
        <p class="card-text">
            Enter the code sent to your mobile device.
        </p>
    </div>

    <div class="card-body">
        <div class="mb-4">
            <label class="form-label">Password One</label>
            <input asp-for="PassWordOne" class="form-control" type="password" data-toggle="tooltip" data-placement="top" required="" placeholder="********">
            <span asp-validation-for="PassWordOne" class="text-danger"></span>
    </div>
    <div class="mb-4">
            <label class="form-label d-flex justify-content-between">Password Two <a href="~/auth/recover" method="get">Forgot password?</a></label>
            <input asp-for="PassWordTwo" class="form-control" type="password" data-toggle="tooltip" data-placement="top" required="" placeholder="********">
            <span asp-validation-for="PassWordTwo" class="text-danger"></span>  
    </div>

    </div>
    <div class="card-footer">
        <div class="mb-8">

            <button class="btn btn-primary btn-sign" type="submit"> Acceptar</button>

        </div>
    </div>


</form>

@section Scripts{
    <script>
        $("#Index").submit(function (event) {
            event.preventDefault(); // Prevenir el comportamiento predeterminado del formulario
            //if (!$(this).valid()) {
            //    return;
            //}
            $.ajax({
                type: "POST",
                url: "@Url.Action("login", "Seguridad")",
                data: $(this).serialize(), // Serializar los datos del formulario
                success: function (result) {
                    if (result.success) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Usuario encontrado',
                            showConfirmButton: false,
                            timer: 1500
                        })
                            .then(function () {
                                window.location.href = result.redirect;
                            });;
                    } else {
                        Swal.fire(result.title, result.message, result.type);
                    }
                },
                error: function () {
                    Swal.fire("Error", "Hubo un error al procesar la acción", "error");
                }
            });
        });

    </script>
    }


           